*.pyc
.project
.pydevproject
.settings/
*_raw.mkv_download.log
temp/
*.mkv
.DS_Store
*.DS_Store
cookies*
settings.json
bin/
include/
lib/
.vscode
settings.json*
pyvenv.cfg
20*/
20*.txt
*_raw.mkv_dl.log
!nhltv_lib/extras/black.mkv
docker-compose.yml
nhltv.log
htmlcov/*
.venv
.coverage
archive_waitlist.json
downloaded_games.json
blackout_waitlist.json
auth_cookie
