version: '3'

services:
  nhltv:
    restart: always
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./test:/home/nhltv/
    command: nhltv --team NSH -u username -p password -o
