version: '3'

services:
  nhltv:
    restart: always
    image: pontusw/nhltv:latest
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /media:/home/nhltv/media
    command: nhltv --team NSH -u *username* -p *password* -d media
